In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("unicourse.csv")

In [13]:
df.count()

University name    99
course Url         99
dtype: int64

In [4]:
import os
from geopy import GoogleV3
import time
location=[]
latitude=[]
longitude=[]

In [5]:
for i,j in enumerate(df["University name"]):
        if(i in range(0,101)):
        #print(uni["University name"][i])
            g=GoogleV3(api_key="AIzaSyAxterlEFHgNmL93Puiwx4-x4Tme9PW_Os")
            location.append(g.geocode(j,timeout=10))
            time.sleep(1)

In [11]:
df["University name"][98]

'Washington University in St. Louis'

In [9]:
len(location)

99

In [14]:
for i,j in enumerate(location):    
     if j==None:
        latitude.append(None)
     else:
        latitude.append(j.latitude)

In [15]:
for i,j in enumerate(location):    
     if j==None:
        longitude.append(None)
     else:
        longitude.append(j.longitude)

In [16]:
address=[]

In [17]:
for i,j in enumerate(location):    
     if j==None:
        address.append(None)
     else:
        address.append(j.address)

In [18]:
len(address)

99

In [19]:
len(latitude)

99

In [20]:
len(longitude)

99

In [21]:
df["Latitude"]=latitude
df["Longitude"]=longitude
df["Address"]=address

In [22]:
df.head()

,University name,course Url,Latitude,Longitude,Address
0,Massachusetts Institute of Technology (MIT),https://engineering.mit.edu/,42.360091,-71.094160,"77 Massachusetts Ave, Cambridge, MA 02139, USA"
1,Stanford University,https://www.stanford.edu/academics/,37.427475,-122.169719,"450 Serra Mall, Stanford, CA 94305, USA"
2,Harvard University,https://www.harvard.edu/,42.377003,-71.116660,"Cambridge, MA 02138, USA"
3,California Institute of Technology (Caltech),http://www.cms.caltech.edu/academics/grad_cms,34.137658,-118.125269,"1200 E California Blvd, Pasadena, CA 91125, USA"
4,University of Cambridge,https://www.graduate.study.cam.ac.uk/internati...,52.204267,0.114908,"The Old Schools, Trinity Ln, Cambridge CB2 1TN..."

In [24]:
df.to_csv("unicourse.csv",header=True,index=False,encoding="UTF-8")

In [25]:
df.isnull().sum()

University name    0
course Url         0
Latitude           0
Longitude          0
Address            0
dtype: int64